<template>
  <section class="home">
    <Flights />
    <Banner />
  </section>
</template>

<script>
import Banner from "@/components/atoms/Banner";
import Flights from "@/components/organisms/Flights";

export default {
  name: "home",
  components: {
    Banner,
    Flights
  }
};
</script>
