<template>
  <div class="airports">
    <ul v-if="center.length > 0 || north.length > 0 || southc.length > 0">
      <small v-if="center.length > 0">Centro</small>
      <li v-for="airport of center" :key="airport.code">
        <span>{{ airport.city }} </span>
        <small>{{ airport.code }}</small>
      </li>
      <small v-if="north.length > 0">Norte</small>
      <li v-for="airport of north" :key="airport.code">
        <span>{{ airport.city }}</span>
        <small>{{ airport.code }}</small>
      </li>
      <small v-if="south.length > 0">Sur</small>
      <li v-for="airport of south" :key="airport.code">
        <span>{{ airport.city }}</span>
        <small>{{ airport.code }}</small>
      </li>
    </ul>
    <ul v-if="finder('AR').length > 0 || finder('BR').length > 0">
      <small v-if="finder('AR').length > 0">Argentina</small>
      <li v-for="airport of finder('AR')" :key="airport.code">
        <span>{{ airport.city }}</span>
        <small>{{ airport.code }}</small>
      </li>
      <small v-if="finder('BR').length > 0">Brasil</small>
      <li v-for="airport of finder('BR')" :key="airport.code">
        <span>{{ airport.city }}</span>
        <small>{{ airport.code }}</small>
      </li>
    </ul>
    <ul v-if="finder('UY').length > 0 || finder('PE').length > 0">
      <small v-if="finder('UY').length > 0">Uruguay</small>
      <li v-for="airport of finder('UY')" :key="airport.code">
        <span>{{ airport.city }}</span>
        <small>{{ airport.code }}</small>
      </li>
      <small v-if="finder('PE').length > 0">Perú</small>
      <li v-for="airport of finder('PE')" :key="airport.code">
        <span>{{ airport.city }}</span>
        <small>{{ airport.code }}</small>
      </li>
    </ul>
  </div>
</template>

<script>
import axios from "axios";
export default {
  name: "Airports",
  props: {
    filter: String
  },
  data() {
    return {
      filtered: "",
      airports: []
    };
  },
  async created() {
    try {
      const res = await axios.get("http://localhost:3000/airports");
      this.airports = res.data;
    } catch (e) {
      this.airports = [];
    }
  },
  methods: {
    finder: function(code) {
      const interAirports = this.airports.filter(
        airport => airport.country === code
      );
      return this.filter !== ""
        ? this.filterBy(interAirports, this.filter)
        : interAirports;
    },
    filterBy: function(arr, f) {
      return arr.filter(
        obj =>
          obj.city.toLowerCase().includes(f) ||
          obj.code.toLowerCase().includes(f)
      );
    }
  },
  computed: {
    south: function() {
      const southAirports = this.airports.filter(
        airport => airport.country === "CL" && airport.zone === "Sur"
      );
      return this.filter !== ""
        ? this.filterBy(southAirports, this.filter)
        : southAirports;
    },
    center: function() {
      const centerAirports = this.airports.filter(
        airport => airport.country === "CL" && airport.zone === "Centro"
      );
      return this.filter !== ""
        ? this.filterBy(centerAirports, this.filter)
        : centerAirports;
    },
    north: function() {
      const northAirports = this.airports.filter(
        airport => airport.country === "CL" && airport.zone === "Norte"
      );
      return this.filter !== ""
        ? this.filterBy(northAirports, this.filter)
        : northAirports;
    }
  },
  watch: {
    filter: function() {
      this.filter = this.filter.toLowerCase();
    }
  }
};
</script>

<style lang="scss" scoped>
.airports {
  display: flex;
  ul {
    width: 200px;
    flex: 1;
    margin-right: 18px;
    li {
      line-height: 1.7;
      display: flex;
      justify-content: space-between;
      span {
        color: var(--color-purple);
        font-size: 1.2rem;
      }
      small {
        color: #9b9b9b;
      }
    }
  }
  small {
    color: var(--color-lightGreen);
  }
}
</style>
