<template>
  <div class="main-banner">
    <img
      src="../../assets/12-feb-banner@2x.png"
      alt="Carnaval de precios"
      width="100%"
    />
  </div>
</template>

<script>
export default {
  name: "Banner",
  data() {
    return {
      image: ""
    };
  }
};
</script>

<style lang="scss">
.main-banner {
  max-height: 470px;
}
</style>
