<template>
  <button class="btn">{{ label }}</button>
</template>

<script>
export default {
  name: "Button",
  props: {
    label: String
  }
};
</script>

<style lang="scss">
.btn {
  display: block;
  background-color: var(--color-purple);
  color: white;
  width: 100%;
  height: 30px;
  padding: 6px 12px;
}
</style>
