<template>
  <span class="circle" :class="`icon-${icon}`"></span>
</template>

<script>
export default {
  name: "Icon",
  props: {
    icon: String
  }
};
</script>

<style lang="scss">
.circle {
  @include circle(32px);
  background-color: #666;
  color: white;
}
</style>
