<template>
  <figure class="brand">
    <img
      src="https://www.skyairline.com/upload/IMG-RETINA/LOGO-SKY-2X.png"
      alt="skyairline"
    />
  </figure>
</template>

<script>
export default {
  name: "SkyBrand"
};
</script>

<style lang="scss">
.brand {
  width: 130px;
  height: auto;
  display: flex;
  margin-right: 40px;
  overflow: hidden;
  img {
    width: 100%;
  }
}
</style>
