<template>
  <nav class="header-nav">
    <ul>
      <li><router-link to="/">Planifica tu Viaje</router-link></li>
      |
      <li><router-link to="/mi-vuelo">Administra tu vuelo</router-link></li>
    </ul>
  </nav>
</template>

<script>
export default {
  name: "Nav"
};
</script>

<style lang="scss">
.header-nav {
  ul {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    li {
      margin: 0 15px;
      a {
        text-transform: uppercase;
        color: var(--color-purple);
        font-weight: bold;
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}
</style>
