<template>
  <div class="flights">
    <div class="flights--finder">
      <h6>Vuelos</h6>
      <div>
        <label>Desde</label>
        <input
          type="text"
          class="flight-input"
          value=""
          @click="airportList('Desde')"
          v-model="searchFlyFrom"
          @keyup="filterAirports"
          placeholder="Seleccionar Aeropuerto"
        />
      </div>
      <div>
        <label>Hasta</label>
        <input
          type="text"
          class="flight-input"
          v-model="searchFlyTo"
          @click="airportList('Hasta')"
          @keyup="filterAirports"
          value=""
          placeholder="Seleccionar Aeropuerto"
        />
      </div>
      <div>
        <Button label="Buscar vuelos" />
      </div>
    </div>
    <div class="flights--places" v-show="showAirports">
      <p>Viajaré {{ range }}</p>
      <Airports :filter="filterFly" />
    </div>
  </div>
</template>

<script>
import axios from "axios";
import Airports from "@/components/atoms/Airports";
import Button from "@/components/atoms/Button";

const axiosSky = axios.create({
  //baseURL: "https://api.skyairline.io/metasearch/searchFlights", // cross-origin!
  baseURL: "http://localhost:3000/flights", // getting by postman
  headers: {
    "Content-Type": "application/json",
    "Ocp-Apim-Subscription-Key": "2c399a1f1d664268b42742dae70055f1"
  }
});
export default {
  name: "Flights",
  components: {
    Airports,
    Button
  },
  data() {
    return {
      flights: "",
      searchFlyTo: "",
      searchFlyFrom: "",
      range: "",
      filterFly: "",
      showAirports: false,
      segments: [
        { from: "SCL", to: "LSC", depDate: "2019-07-27" },
        { from: "LSC", to: "SCL", depDate: "2019-08-29" }
      ],
      passengers: {
        adults: 1,
        babies: 0,
        children: 0
      },
      currency: "USD"
    };
  },
  methods: {
    async findFly() {
      const params = {
        segments: this.segments,
        passengers: this.passengers,
        currency: this.currency
      };
      try {
        const resp = axiosSky({
          method: "POST",
          data: JSON.stringify(params)
        });
        this.flights = resp.data;
      } catch (e) {
        return e;
      }
    },
    airportList(range) {
      this.showAirports = this.range !== range ? true : !this.showAirports;
      this.range = range;
    },
    filterAirports() {
      this.filterFly =
        this.range === "Desde" ? this.searchFlyFrom : this.searchFlyTo;
      //console.log(this.range, this.filterFly);
    }
  }
};
</script>

<style lang="scss">
.flights {
  position: absolute;
  display: flex;
  margin: 12px 14vh;
  &--finder {
    width: 395px;
    height: 279px;
    padding: 10px 20px;
    background-color: white;

    label {
      display: block;
      font-size: 1.1rem;
      text-transform: uppercase;
    }
    .flight-input {
      display: block;
      width: 100%;
      font-size: 1.6rem;
      border-bottom: 2px solid var(--color-grey);
      outline: none;
      margin: 8px 0;
      padding-bottom: 8px;
      color: var(--color-purple);
      text-transform: capitalize;
    }
  }
  &--places {
    background-color: var(--color-grey);
    width: 710px;
    height: 450px;
    padding: 5px 20px;
  }
}
</style>
