<template>
  <footer class="text-center">
    <h4>Síguenos</h4>
    <ul class="share-links">
      <li><Icon icon="twitter" /></li>
      <li><Icon icon="instagram" /></li>
      <li><Icon icon="youtube" /></li>
      <li><Icon icon="facebook" /></li>
    </ul>
    <hr />
    <h5>Bienvenido a SkyAirline.com</h5>
    <div class="footer-links">
      <div>
        <ul>
          <li class="text-uppercase">Información Útil</li>
          <li><a href="">Centro de Ayuda</a></li>
          <li><a href="">Tarifario de Productos</a></li>
          <li><a href="">Destinos</a></li>
        </ul>
      </div>
      <div>
        <ul>
          <li class="text-uppercase">Portales</li>
          <li><a href="">Portal</a></li>
          <li><a href="">Empresas</a></li>
          <li><a href="">SKY Carga</a></li>
          <li><a href="">Mercado</a></li>
        </ul>
      </div>
      <div>
        <ul>
          <li class="text-uppercase">Nosotros</li>
          <li><a href="">Trabaja con nosotros</a></li>
          <li><a href="">Reclutamiento Pilotos</a></li>
          <li><a href="">Nuestra historia</a></li>
        </ul>
      </div>
      <div>
        <ul>
          <li><a href="">Condiciones Legales</a></li>
          <li><a href="">Tarifario de Productos</a></li>
          <li><a href="">Productos</a></li>
          <li><a href="">Contáctanos</a></li>
        </ul>
      </div>
    </div>
    <hr />
    <small class="text-center">{{ copyright }}</small>
  </footer>
</template>

<script>
import Icon from "@/components/atoms/Icon";

export default {
  name: "Footer",
  components: {
    Icon
  },
  data() {
    return {
      copyright:
        "©1999-2019 SKY Airline. Todos los derechos reservados. - SKY Airline - Av Del Valle Sur 765 - Santiago / Chile"
    };
  }
};
</script>

<style lang="scss" scoped>
footer {
  padding: 20px 14vh;
  .share-links {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 12px;
    li {
      margin: 0 0.5rem;
    }
  }
  .footer-links {
    display: flex;
    justify-content: center;
    margin-top: 26px;
    div {
      text-align: left;
      margin: 0 32px;
      ul li {
        font-size: 1.3rem;
        margin: 2px 0;
        a {
          font-size: 1.3rem;
          &:hover {
            text-decoration: none;
            color: var(--color-purple);
          }
        }
      }
    }
  }
}
</style>
