<template>
  <header class="main-header d-flex">
    <SkyBrand />
    <Nav />
  </header>
</template>

<script>
import Nav from "@/components/molecules/Nav";
import SkyBrand from "@/components/atoms/SkyBrand";

export default {
  name: "Header",
  components: { Nav, SkyBrand }
};
</script>

<style lang="scss">
.main-header {
  height: 86px;
  width: 100%;
  display: flex;
  align-items: center;
  background-color: white;
  border-top: solid 6px var(--color-lightGreen);
  padding: 12px 14vh;
}
</style>
