<template>
  <main id="app">
    <Header />
    <article>
      <router-view />
    </article>
    <Footer />
  </main>
</template>
<script>
import Header from "@/components/organisms/Header";
import Footer from "@/components/organisms/Footer";

export default {
  name: "App",
  components: {
    Header,
    Footer
  }
};
</script>
<style lang="scss" src="@/scss/main.scss"></style>
