$icomoon-font-family: "sky-icons" !default;
$icomoon-font-path: "../assets/fonts" !default;

$icon-instagram: "\e904";
$icon-twitter: "\e900";
$icon-youtube: "\e901";
$icon-facebook: "\e902";

@font-face {
    font-family: '#{$icomoon-font-family}';
    src:
      url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?v4u2is') format('truetype'),
      url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?v4u2is') format('woff'),
      url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?v4u2is##{$icomoon-font-family}') format('svg');
    font-weight: normal;
    font-style: normal;
  }

  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: '#{$icomoon-font-family}' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
      -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .icon-instagram {
    &:before {
      content: $icon-instagram;
    }
  }
  .icon-twitter {
    &:before {
      content: $icon-twitter;
    }
  }
  .icon-youtube {
    &:before {
      content: $icon-youtube;
    }
  }
  .icon-facebook {
    &:before {
      content: $icon-facebook;
    }
  }
