@mixin headings($from: 1, $to: 6){
    @for $i from $from through $to{
      h#{$i}{
        @content
      }
    }
}
@mixin circle($size){
    border-radius: ($size/2);
    width: $size;
    height: $size;
    display: flex;
    align-items: center;
    justify-content: center;
  }
@mixin font-size($font-size-global){
    font-size:$font-size-global;
    -webkit-text-size-adjust: $font-size-global;
    -ms-text-size-adjust: $font-size-global;
}
