
/**
 * @author Rodrigo Ahumada, Front-end Developer
 * @description Custom CSS initial and global Config.
 * @link https://github.com/rholo/resets
 * @version 2.0.0
 * @licence free (public domain)
 */
 html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, hr, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figure, figcaption, hgroup, menu, footer, header, nav, section, summary, time, mark, audio, video, img, main, input, textarea, select {
    border: 0;
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
article, aside, canvas, figure, figure img, figcaption, hgroup, footer, header, nav, section, audio, video, main, img {
    display: block;
}

body {
  font-weight: normal;
  line-height: 1.6875;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-touch-callout: none;
  -webkit-text-size-adjust: none;
  -webkit-user-select: text;
}
a {
  text-decoration: none;
    outline: 0;
  &:hover {
    text-decoration: underline;
  }
  &:link, &:visited, &:hover, &:active {
    outline: 0;
  }
  img {
    border: 0;
  }
}

li {
  list-style-type: none;
}
input, select {
  vertical-align: middle;
}

select {
    background: white;
  -webkit-appearance: menulist-button;
}
input {
  &[type="search"] {
    &::-ms-clear, &::-webkit-search-cancel-button {
      display: none;
    }
  }
  &[type="file"] {
    background: none;
  }
  &[type="checkbox"],&[type="radio"]{
      padding: 0;
      vertical-align: text-bottom;
  }
}

button, input[type="button"], input[type="reset"], input[type="submit"] {
    cursor: pointer;
    border: 0;
    font-weight: 700;
    -webkit-appearance: button;
    &:disabled{
        cursor: not-allowed;
        opacity: .5;
    }
}
