//font-family
html{
    @include font-size($font-size-global)
}
body{
    font-family: $font-family;
    color:$font-color;
}
h1,h2,h3,h4,h5,h6{
    font-weight: normal;
}
@for $i from 1 through 6 {
    h#{$i}{
        font-size:$font-size + $font-scale * (7 - $i);
    }
}
p, span, label, a, li{
  font-size:$font-size;
  line-height: $font-size*1.5;
  color: inherit;
}
small {font-size: $font-size*0.8;}
