@import url(https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap);
@import "mixins";

$font-family: 'Roboto', sans-serif;
$font-color: #4A4A4A;
$font-size-global: 75%;
$font-size : 1.4rem;
$font-scale : 0.25;

$color-palettes:(
  'purple':#663366,
  'magenta':#ff009a,
  'lightGreen':#27d701,
  'darkGreen':#339933,
  'grey':#f1f1f1
);
@each $name-color, $color in $color-palettes {
    :root{
        --color-#{$name-color}: #{$color};
    }
}
